<div class="row">
  	<div class="col-lg-4 col-md-6 ml-auto mr-auto">
	<h1>Edit Articles</h1>

	<%= form_for :article, url: article_path(@article), method: :put do |f| %>  <!-- <- это хеш, где
	url и method, это ключи хеша, а article_path и put значения нашего хеша  -->
	<p>
		<%= f.label :title, "Наименовие статьи" %><br/>
		<%= f.text_field :title, class: "form-control col-5" %>
	</p>
	<p>
		<%= f.label :content, "Содержимое статьи" %><br/>
		<%= f.text_area :content, class: "form-control col-7", rows: 5 %>
	</p>
	<hr/>
	<p>
	  <%= f.label :tag_list, "Введите теги" %><br />
	  <%= f.text_field :tag_list, class: "form-control", :value => article_tag_list %>
	</p>
	<p>
		<%= f.submit "Редактировать", class: "btn btn-primary" %>
	</p>
		<% end %>
	</div>
</div>