<div class="row">
	<div class="col-lg-2 col-md-1 ml-auto mr-auto">
	</div>
  	<div class="col-lg-6 col-md-6 ml-auto mr-auto">
	<% @articles.each do |article| %>
		<ul class="list-inline">
		  <li class="list-inline-item"><strong><%=  article.user.username %></strong></li>
		  <li class="list-inline-item me-2"><small>| <%= article.created_at %></small></li>
		</ul>
		<h2>
			<%= article.title %>
		</h2>

		<p>
			<%= article.content %>
		</p>
		<p>
		  Теги:
		  <% article.tags.each do |tag| %>
		    <%= link_to tag.name, tag_path(tag) %>
		  <% end %>
		</p>
		<p>
			<%= link_to 'Show more', article_path(article) %> | 
			<%= link_to 'Edit', edit_article_path(article) %> |
			<%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'ВЫ действительно хотите удалить эту статью?'} %>
		</p>
		<hr/>
	<% end %>
	</div>

	<div class="col-lg-4 col-md-4 ml-auto mr-auto">
	</div>
</div>