<% @articles.each do |article| %>
	
	<h2>
		<%= article.title %>
	</h2>

	<p>
		<%= article.text %>
	</p>

	<small><%= article.created_at %></small>

	<p>
		<%= link_to 'Show more', article_path(article) %> | 
		<%= link_to 'Edit', edit_article_path(article) %>
	</p>
	<hr/>
<% end %>