<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 sticky-top shadow-sm">
    <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <%= link_to 'Sample Blog', root_path, class: "navbar-brand" %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Посты', posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Создать статью', new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Свежее', new_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="d-flex">
        <% if user_signed_in? %>
        <b class=""><%= current_user.username %></b>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><%= link_to 'Edit account', edit_user_registration_path, class: "dropdown-item" %></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>
          
        <% else %>
          <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-outline-success me-2" %>
          <%= link_to 'Войти', new_user_session_path, class: "btn btn-outline-success" %>

        <% end %>
      </form>
    </div>
</nav>