<div class="row">
	<div class="col-lg-2 col-md-1 ml-auto mr-auto">
	</div>
  	<div class="col-lg-6 col-md-6 ml-auto mr-auto">
	<% @posts.each do |post| %>
		<ul class="list-inline">
		  <li class="list-inline-item"><strong><%=  post.user.username %></strong></li>
		  <li class="list-inline-item me-2"><small>| <%= post.created_at %></small></li>
		</ul>
		<h2>
			<%= post.title %>
		</h2>

		<p>
			<%= post.content %>
		</p>
		<p>
		  Теги:
		  <% post.tags.each do |tag| %>
		    <%= link_to tag.name, tag_path(tag) %>
		  <% end %>
		</p>
		<p>
			<%= link_to 'Show more', post_path(post) %> | 
			<%= link_to 'Edit', edit_post_path(post) %> |
			<%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'ВЫ действительно хотите удалить эту статью?'} %>
		</p>
		<hr/>
	<% end %>
	</div>

	<div class="col-lg-4 col-md-4 ml-auto mr-auto">
	</div>
</div>