<div class="row">
	<div class="col-lg-2 col-md-1 ml-auto mr-auto">
	</div>

  	<div class="col-lg-6 col-md-6 ml-auto mr-auto">
		<h1><%= @post.title %></h1>

		<p>
			<%= @post.content %>
		</p>
		<hr/>
		<p>
		  Tags:
		  <% @post.tags.each do |tag| %>
		    <%= link_to tag.name, tag_path(tag) %>
		  <% end %>
		</p>
		<hr/>
		<div class="card mb-3">
    <div class="card-header">
        <h4 class="mb-0">Add A Comment:</h4>
    </div>
    <div class="card-body">
        <%# NOTE COMMENT STEP 3: Load the comment form. %>
        <%= render "comments/form" %>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <h4>Comments:</h4>
    </div>
    <%# NOTE COMMENT STEP 3: Wrap the comments in `<div id="comments">` so that you can select the wrapper when using javascript in `app/views/comments/create.js.erb`. %>
    <div id="comments" class="card-body">
        <%= render @post.comments %>
    </div>
</div>
	</div>

	<div class="col-lg-4 col-md-4 ml-auto mr-auto">
	</div>
</div>
